<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

    <targets>
        <target xsi:type="File" name="file" fileName="logs/logfile-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="file"/>
    </rules>
</nlog>